<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <h1>head</h1>
    {% block conteudo %}
    
    {% endblock conteudo %}
</body>
</html>